*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

html,
body {
  height: 100%;
}

@media screen and (min-width: 1440px) {
  html,
  body {
    height: 0;
  }
}

body {
  background-color: #c5e4e7;
}

body .app-name {
  color: #00494d;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 10px;
  font-size: 25px;
  margin: 40px 0;
}

@media screen and (min-width: 1440px) {
  body .app-name {
    margin: 70px 0;
  }
}

.main-content {
  background-color: white;
  border-radius: 20px;
  padding: 10%;
}

@media screen and (min-width: 1440px) {
  .main-content {
    width: 70%;
    height: 450px;
    margin: 0 auto;
    padding: 60px;
    position: relative;
  }
}

@media screen and (min-width: 1440px) {
  .main-content form {
    width: 50%;
  }
}

.main-content form .input-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content form .error {
  font-weight: 700;
  color: red;
  font-size: 14px;
  visibility: hidden;
}

@media screen and (max-width: 1440px) {
  .main-content form .error {
    left: 50%;
  }
}

.main-content form .error-ppl {
  font-weight: 700;
  color: red;
  font-size: 14px;
  text-align: center;
  visibility: hidden;
}

@media screen and (max-width: 1440px) {
  .main-content form .error-ppl {
    left: 60%;
    bottom: 411px;
  }
}

.main-content form .visibility {
  visibility: visible;
}

.main-content form label {
  font-size: 14px;
  font-weight: 700;
  color: #5e7a7d;
}

.main-content form input {
  width: 100%;
  border: none;
  height: 40px;
  border-radius: 5px;
  margin: 10px 0 20px 0;
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  color: #00494d;
}

.main-content form #bill {
  background: url(../images/icon-dollar.svg) no-repeat 10px 10px;
  background-color: #f4fafa;
}

.main-content form #number-of-people {
  background: url(../images/icon-person.svg) no-repeat 10px 10px;
  background-color: #f4fafa;
}

.main-content h1 {
  color: #5e7a7d;
  font-size: 14px;
}

.main-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

@media screen and (min-width: 1440px) {
  .main-content ul {
    width: 50%;
  }
}

.main-content ul li {
  padding: 0px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  text-align: center;
  margin: 10px 10px 10px 0;
}

@media screen and (min-width: 1440px) {
  .main-content ul li {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.main-content ul button {
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #00494d;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}

.main-content #custom {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: right;
  border-radius: 5px;
  background-color: #f4fafa;
  border: none;
  font-weight: 700;
  font-size: 15px;
}

.main-content .tip-blk {
  background-color: #00494d;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

@media screen and (min-width: 1440px) {
  .main-content .tip-blk {
    width: 40%;
    margin-right: auto;
    position: absolute;
    top: 10%;
    left: 55%;
    height: 360px;
    padding: 40px;
  }
}

.main-content .tip-blk .tip-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 50px;
}

@media screen and (min-width: 1440px) {
  .main-content .tip-blk .tip-col {
    height: 80px;
  }
}

.main-content .tip-blk .total-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 50px;
}

.main-content .tip-blk .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 50px;
  float: right;
  width: 50%;
  color: #26c0ab;
  font-size: 24px;
  text-align: right;
  font-weight: 700;
}

.main-content .tip-blk h1 {
  color: white;
  font-weight: 500;
}

.main-content .tip-blk p {
  color: #c5e4e7;
  font-size: 12px;
}

.main-content .tip-blk a {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #26c0ab;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #00494d;
}

@media screen and (min-width: 1440px) {
  .main-content .tip-blk a {
    margin-top: 120px;
  }
}

.main-content .tip-blk .reset {
  background-color: gray;
  cursor: default;
}

.main-content .tip-blk .btn-color {
  background-color: #26c0ab;
  cursor: pointer;
}

.main-content .clicked {
  background-color: #26c0ab;
}
/*# sourceMappingURL=styles.css.map */